@model webSklad.Models.Invoice

<div class="invoice-info">



    <h3><strong>Supplier:</strong></h3>
    <div>
        <h4>Name : @Model.PostInfo.Name</h4>
        <h4>Fop :  @Model.PostFop.NameOfFop</h4>
        <h8>P/p : @Model.PostFop.Account , Adress : @Model.PostFop.Address ,  IPN : @Model.PostFop.FopIPN , MFO : IPN : @Model.PostFop.FopMFO </h8>
    </div>


    <h3><strong>Shop:</strong></h3>
    <div>
        <h4>Name : @Model.ShopInfo.Name</h4>
        <h4>Fop :  @Model.ShopFop.NameOfFop</h4>
        <h8>P/p : @Model.ShopFop.Account , Adress : @Model.ShopFop.Address ,  IPN : @Model.ShopFop.FopIPN , MFO : IPN : @Model.ShopFop.FopMFO </h8>
    </div>


    <div class="d-flex justify-content-center">
        <h4 class="mb-3 mt-3">Data : @Model.DateTime.Value.ToLongDateString()</h4>
        <h4 class="mb-3 mt-3"> Invoice : @Model.Name</h4>
    </div>


    <div class="d-flex justify-content-center">
        <h4 class="mb-3 mt-3">List of products</h4>
    </div>


 <div class="d-flex justify-content-end mb-4">
       <div class="input-group">
            <div id="filter-form">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-search"></i></span>
                    <span class="input-group-text"><i class="bi bi-file-code"></i></span>
                    <input type="text" id="product-code" class="form-control" placeholder="" style="width: 10%;" />
                    <span class="input-group-text"><i class="bi bi-journal-bookmark-fill"></i></span>
                    <input type="text" id="product-name" class="form-control" placeholder="" style="width: 30%;" />
                    <span class="input-group-text"><i class="bi bi-tag"></i></span>
                    <input type="text" id="product-incominprice" class="form-control" placeholder="" style="width: 5%;" />
                    <span class="input-group-text"><i class="bi bi-tag-fill"></i></span>
                    <input type="text" id="product-price" class="form-control" placeholder="" style="width: 5%;" />
                    <span class="input-group-text"><i class="bi bi-upc-scan"></i></span>
                    <input type="text" id="barcode-number" class="form-control" placeholder="" style="width: 10%;" />
                    <span class="input-group-text"><i class="bi bi-upc"></i></span>
                    <input type="text" id="barcodeown-number" class="form-control" placeholder="" style="width: 10%;" />
                    <button class="btn btn-success" id="add-to-db-btn"><i class="bi bi-patch-plus text-white"></i></button>
                    <button class="btn buttonsmall" id="reset-btn"><i class="bi bi-x-circle"></i></button>
                </div>
            </div>
       </div>
  </div>




<div id="product-list">


    <div class="table-editor" id="table_1" data-entries="5" data-entries-options="[5, 10, 15]">
            <table class="table">
                <thead>
                    <tr>
                        <th class="th-sm" style="width: 10%">Code</th>
                        <th class="th-sm" style="width: 60%">Name</th>
                        <th class="th-sm" style="width: 10%">Price</th>
                        <th class="th-sm" style="width: 10%">Amount</th>
                        <th class="th-sm" style="width: 10%">Sell Price</th>
                        <th class="th-sm" style="width: 10%">BarCode</th>
                        <th class="th-sm" style="width: 10%">BarCode Own</th>
                        <th class="th-sm" style="width: 2%" data-sort="false"></th>
                        <th class="th-sm" style="width: 2%" data-sort="false"></th>
                        <th class="th-sm" style="width: 2%" data-sort="false"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Products != null && Model.Products.Any())
                    {



                        @foreach (var product in Model.Products.Take(10))
                        {
                            <tr>
                                <td>@product.Sku</td>
                                <td>@product.ProductName</td>
                                <td>@product.IncomingPrice</td>
                                <td>@product.Amount</td>
                                <td>@product.Price</td>
                                <td>@product.BarCode </td>
                                <td>@product.BarCodeOwn</td>
                                <td class="text-right">

                                        <div class="btn-group float-right">

                                        <div class="button-group">
                                            <button class="btn btn-primary" id="edit-product-btn" data-product-id="@product.Id"> <i class="bi bi-pencil-square"></i></button>
                                        </div>

                                        <a href="@Url.Action("Buy", "Cart", new { sku = product.Sku, invoiceId = Model.Id, sourcePage = "invoice"  })" class="btn btn-success">
                                                <i class="bi bi-patch-plus text-white"></i>
                                            </a>

                                        <button class="btn btn-danger" id="delete-from-bd-btn" data-product-id="@product.Id"><i class="bi bi-trash"></i></button>

                                        </div>
                                    
                                </td>
                            </tr>
                            <tr class="edit-product-row" style="display: none;">
                                    <td><input type="text" class="class form-control" id="edit-product-code" style="width: 100%;" value="@product.Sku" /></td>
                                    <td><input type="text" class="class form-control" id="edit-product-name" style="width: 100%;" value="@product.ProductName" /></td>
                                    <td><input type="text" class="class form-control" id="edit-product-incoming-price" style="width: 100%;" value="@product.IncomingPrice" /></td>
                                    <td><input disabled type="text" class="class form-control" id="edit-product-amount" style="width: 100%;" value="@product.Amount" /></td>
                                    <td><input type="text" class="class form-control" id="edit-product-price" style="width: 100%;" value="@product.Price" /></td>
                                    <td><input type="text" class="class form-control" id="edit-product-barcode" style="width: 100%;" value="@product.BarCode" /></td>
                                    <td><input type="text" class="class form-control" id="edit-product-barcodeown" style="width: 100%;" value="@product.BarCodeOwn" /></td>
                                    <td>
                                    <div class="btn-group float-right">

                                        <button class="btn btn-success" id="save-edit-btn" data-product-id="@product.Id"><i class="bi bi-patch-plus text-white"></i></button>

                                        <button class="btn btn-danger" id="cancel-edit-btn"><i class="bi bi-x-lg"></i></button>
                                    </div>
                                    </td>
                                    <td>
                                    </td>
                            </tr>

                        }
                    }
                
                </tbody>
           </table>
       

    </div>
</div>
    <a href="@Url.Action("Index", "Cart")" class="btn btn-primary">
        <i class="bi bi-receipt"></i>
    </a>
 







</div>








<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {


        $('#reset-btn').on('click', function () {

            $('#product-code').val('');
            $('#product-name').val('');
            $('#product-incominprice').val('');
            $('#product-price').val('');
            $('#product-priceone').val('');
            $('#product-pricetwo').val('');
            $('#product-pricethree').val('');
            $('#barcode-number').val('');
            $('#barcodeown-number').val('');

            location.reload();
        });


        $('#product-list').on('click', '#delete-from-bd-btn', function () {
            var productId = $(this).data('product-id');

            $.ajax({
                url: '@Url.Action("DeleteProduct", "Product")',
                type: 'POST',
                data: { productId: productId },
                success: function () {

                    getFilteredProducts();
                }
            });
        });

        function getFilteredProducts() {

            var productCode = $('#product-code').val();
            var productName = $('#product-name').val();
            var barcode = $('#barcode-number').val();
            var barcodeOwn = $('#barcodeown-number').val();
            var incomingPrice = $('#product-incominprice').val();
            var price = $('#product-price').val();
            var priceOne = $('#product-priceone').val();
            var priceTwo = $('#product-pricetwo').val();
            var priceThree = $('#product-pricethree').val();



            $.ajax({
                url: '@Url.Action("FilterProducts", "Product")',
                type: 'POST',
                data: {
                    productCode: productCode,
                    productName: productName,
                    barcode: barcode,
                    barcodeOwn: barcodeOwn,
                    incomingPrice: incomingPrice,
                    price: price,
                    priceOne: priceOne,
                    priceTwo: priceTwo,
                    priceThree: priceThree
                },
                success: function (data) {
                    $('#product-list').html(data);
                }
            });
        }
        function generateRandomBarcodeOwn() {
            var barcodeOwn = '';
            var digits = '0123456789';

            for (var i = 0; i < 13; i++) {
                var randomIndex = Math.floor(Math.random() * digits.length);
                barcodeOwn += digits.charAt(randomIndex);
            }

            return barcodeOwn;
        }
        function isDecimal(value) {
            return /^\d*\.?\d+$/.test(value);
        }

        function isNumeric(value) {

            return /^\d+$/.test(value);
        }



        $('#product-code, #product-name,#barcode-number, #barcodeown-number,#incomingPrice, #price, #priceOne,#priceTwo,#priceThree ').on('input', function () {
            getFilteredProducts();
        });


        $('#add-to-db-btn').on('click', function () {
            var productCode = $('#product-code').val();
            var productName = $('#product-name').val();
            var productIncomingPrice = $('#product-incominprice').val();

            var productPrice = $('#product-price').val();

            var productPriceOne = $('#product-priceone').val();
            var productPriceTwo = $('#product-pricetwo').val();
            var productPriceThree = $('#product-pricethree').val();
            var barcode = $('#barcode-number').val();
            var barcodeOwn = $('#barcodeown-number').val();



            if (!isDecimal(productIncomingPrice) && productIncomingPrice !== '') {
                alert('Enter a decimal number or leave the field blank for the input price');
                return;
            }

            if (!isDecimal(productPrice) && productPrice !== '') {
                alert('Enter a decimal number or leave blank for the sale price');
                return;
            }

            if (!isNumeric(barcode) && barcode !== '' && barcode !== null) {
                alert('The barcode can contain only numbers or be blank');
                return;
            }


            if (barcode && barcode.length !== 13) {
                alert('The barcode must contain 13 characters');
                return;
            }


            if (barcodeOwn.trim() === '') {
                barcodeOwn = generateRandomBarcodeOwn();
            }


            if (barcode.trim() === '') {
               
                barcode = '';
            }
            if (barcodeOwn.trim() === '') {

                barcodeOwn = generateRandomBarcodeOwn();
            }

            $.ajax({
                url: '@Url.Action("AddProduct", "Product")',
                type: 'POST',
                data:
                {
                    productCode: productCode,
                    productName: productName,
                    productIncomingPrice: productIncomingPrice,
                    productPrice: productPrice,
                    productPriceOne: productPriceOne,
                    productPriceTwo: productPriceTwo,
                    productPriceThree: productPriceThree,
                    barcode: barcode,
                    barcodeOwn: barcodeOwn

                },
                success: function (data) {
                    getFilteredProducts();

                    $('#product-incominprice').val('');
                    $('#product-price').val('');
                    $('#product-priceone').val('');
                    $('#product-pricetwo').val('');
                    $('#product-pricethree').val('');
                    $('#barcode-number').val('');
                    $('#barcodeown-number').val('');
                }
            });
        });


        $('#product-list').on('click', '#edit-product-btn', function () {
            var row = $(this).closest('tr');
            var editRow = row.next('.edit-product-row');
            row.hide();
            editRow.show();
        });

        $('#product-list').on('click', '#cancel-edit-btn', function () {
            var editRow = $(this).closest('.edit-product-row');
            var row = editRow.prev('tr');
            editRow.hide();
            row.show();
        });

        $('#product-list').on('click', '#save-edit-btn', function () {
            var productId = $(this).data('product-id');
            var editRow = $(this).closest('.edit-product-row');
            var row = editRow.prev('tr');

            var productCode = editRow.find('#edit-product-code').val();
            var productName = editRow.find('#edit-product-name').val();
            var productIncomingPrice = editRow.find('#edit-product-incoming-price').val();
            var productPrice = editRow.find('#edit-product-price').val();
            var productPriceOne = editRow.find('.edit-product-price-one').val();
            var productPriceTwo = editRow.find('.edit-product-price-two').val();
            var productPriceThree = editRow.find('.edit-product-price-three').val();
            var productBarcode = editRow.find('#edit-product-barcode').val();
            var productBarcodeOwn = editRow.find('#edit-product-barcodeown').val();


            $.ajax({
                url: '@Url.Action("EditProduct", "Product")',
                type: 'POST',
                data: {
                    productId: productId,
                    productCode: productCode,
                    productName: productName,
                    productIncomingPrice: productIncomingPrice,
                    productPrice: productPrice,
                    productPriceOne: productPriceOne,
                    productPriceTwo: productPriceTwo,
                    productPriceThree: productPriceThree,
                    productBarcode: productBarcode,
                    productBarcodeOwn: productBarcodeOwn

                },
                success: function () {
                    getFilteredProducts();


                }
            });
        });

    });


</script>