@model List<IGrouping<int, webSklad.Models.Cart>>


<div class="invoice-info">
    <title>Order archive</title>

    <body>
        <div class="d-flex justify-content-center">
            <h4 class="mb-3 mt-3">Order archive</h4>
        </div>

        <div class="d-flex justify-content-end mb-4">
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-search"></i></span>
                <span class="input-group-text"><i class="bi bi-list-ol"></i></span>
                <input type="text" id="invoiceFilter" class="form-control" placeholder="" />
                <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                <input type="date" id="startDate" class="form-control">
                <span class="input-group-text"><i class="bi bi-buildings"></i></span>
                <input type="text" id="shoppostinfonameFilter" class="form-control" placeholder="" />
                <span class="input-group-text"><i class="bi bi-person-square"></i></span>
                <input type="text" id="fopnameFilter" class="form-control" placeholder="" />
                <span class="input-group-text"><i class="bi bi-receipt"></i></span>
                <input type="text" id="fopaccountFilter" class="form-control" placeholder="" />

               

            </div>
        </div>





        <div class="table-editor" id="table_1" data-entries="5" data-entries-options="[5, 10, 15]">
            <table class="table">
                <thead>
                    <tr>
                        <th class="th-sm" style="width: 1%"></th>
                        <th class="th-sm" style="width: 10%">№ invoice</th>
                        <th class="th-sm" style="width: 15%">Date</th>
                        <th class="th-sm" style="width: 20%">Company</th>
                        <th class="th-sm" style="width: 20%">Fop</th>
                        <th class="th-sm" style="width: 20%">Account</th>
                        <th class="th-sm" style="width: 2%"></th>
                        <th class="th-sm" style="width: 2%" data-sort="false"></th>
                        <th class="th-sm" style="width: 2%" data-sort="false"></th>
                        <th class="th-sm" style="width: 2%" data-sort="false"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count > 0)
                    {
                        @foreach (var group in Model.OrderByDescending(group => group.FirstOrDefault()?.Invoice?.DateTimeNow).Take(15))
                        {
                            var cartId = group.Key;
                            var invoice = group.FirstOrDefault()?.Invoice;
                            var totalAmount = group.Sum(c => c.Subtotal);



                            <tr class="@(invoice?.IsPayment == true ? "paid-invoice" : "") invoiceRow">
                                <td>
                                    <button class="showProductsButton"><i class="bi bi-menu-down"></i></button>
                                </td>
                                <td>@(invoice?.Name)</td>
                                <td>@(invoice?.DateTime)</td>
                                <td>@(invoice?.PostInfo?.Name)</td>
                                <td>@(invoice?.PostFop?.NameOfFop)</td>
                                <td>@(invoice?.PostFop?.Account)</td>
                                <td>
                                  
                                </td>

                                <td>
                                </td>
                                <td>
                                    <button class="deleteCartButton" data-cart-id="@cartId" style="background-color: red;">
                                        <i class="bi bi-trash"></i>
                                    </button>

                                </td>
                            </tr>

                            <tr class="productTableContainer" style="display: none;" data-invoice-name="@(invoice?.Name.ToLower())">
                                <td colspan="10">
                                    <h5>Product in invoice </h5>
                                    

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="th-sm" style="width: 1%"></th>
                                                <th class="th-sm" style="width: 10%">Code</th>
                                                <th class="th-sm" style="width: 73%">Product name</th>
                                                <th class="th-sm" style="width: 1%"></th>
                                                <th class="th-sm" style="width: 1%"></th>
                                                <th class="th-sm" style="width: 10%">BarCode</th>
                                                <th class="th-sm" style="width: 10%">Amount</th>
                                                <th class="th-sm" style="width: 1%" data-sort="false"></th>
                                                <th class="th-sm" style="width: 1%" data-sort="false"></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var cart in group)
                                            {
                                                <tr class="productRow">
                                                    <td hidden>@cartId</td>
                                                    <td></td>
                                                    <td>@cart.Product.Sku</td>
                                                    <td>@cart.Product.ProductName</td>
                                                    <td>
                                                       
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        @if (!string.IsNullOrEmpty(cart.BarCode))
                                                        {
                                                            @cart.BarCode
                                                        }
                                                        else
                                                        {
                                                            @cart.BarCodeOwn
                                                        }
                                                    <td>@cart.Quantity</td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>

                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </td>
                            </tr>


                        }
                    }
                    else
                    {

                    }

                </tbody>

            </table>


        </div>



    </body>


</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        function convertDateToCorrectFormat(dateString) {
            // Split the date string by dots and rearrange it to the correct format (YYYY-MM-DD)
            const [day, month, year] = dateString.split('.');
            return `${year}-${month}-${day}`;
        }
        function savePaymentStatus(invoiceId, isPayment) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SavePaymentStatus", "Cart")',
                data: { invoiceId: invoiceId, isPayment: isPayment },
                success: function (data) {
                    console.log('Payment status saved successfully.');
                },
                error: function (xhr, status, error) {
                    console.error('Failed to save payment status.');
                }
            });
        }

        // Checkbox click event handler
        $('input[type="checkbox"]').on('click', function () {
            var isChecked = $(this).prop('checked');
            var invoiceId = $(this).data('invoice-id');

            savePaymentStatus(invoiceId, isChecked);
        });
        function deleteCart(cartId) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteCart", "Cart")',
                data: { cartId: cartId },
                success: function (data) {
                    // Reload the page after successful deletion
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    console.error('Failed to delete the cart.');
                }
            });
        }

        // Event handler for delete button click
        $('.deleteCartButton').on('click', function () {
            var cartId = $(this).data('cart-id');
            if (confirm("Are you sure you want to delete this cart?")) {
                deleteCart(cartId);
            }
        });




        function deleteProductFromInvoice(cartId) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteProductFromInvoice", "Cart")',
                data: { cartId: cartId },
                success: function (data) {
                    // Reload the page after successful deletion
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    console.error('Failed to delete the product from invoice.');
                }
            });
        }

        $('.deleteProductFromInvoiceButton').on('click', function () {
            var cartId = $(this).data('cart-id');
            if (confirm("Are you sure you want to delete this product?")) {
                deleteProductFromInvoice(cartId); // Corrected function call
            }
        });





        function editInvoice(invoiceId) {
            // Redirect to the EditInvoice action with the specified invoiceId
            window.location.href = '@Url.Action("EditInvoice", "Product")' + '?invoiceId=' + invoiceId;
        }

        // Event handler for the edit button click
        $('.editInvoiceButton').on('click', function () {
            var invoiceId = $(this).data('invoice-id');
            editInvoice(invoiceId);
        });
        function applyFilters() {
            var invoiceValue = $("#invoiceFilter").val().toLowerCase();
            var shopPostInfoNameValue = $("#shoppostinfonameFilter").val().toLowerCase();
            var fopNameValue = $("#fopnameFilter").val().toLowerCase();
            var fopAccountValue = $("#fopaccountFilter").val().toLowerCase();


            var startDateValue = $("#startDate").val();
            var endDateValue = $("#endDate").val();

            var startDate = startDateValue ? new Date(convertDateToCorrectFormat(startDateValue)) : null;
            var endDate = endDateValue ? new Date(convertDateToCorrectFormat(endDateValue)) : null;

            $(".table tbody .invoiceRow").filter(function () {
                var invoiceName = $(this).find("td:first-child").text().toLowerCase();
                var shopPostInfoName = $(this).find("td:nth-child(3)").text().toLowerCase();
                var fopName = $(this).find("td:nth-child(4)").text().toLowerCase();
                var fopAccount = $(this).find("td:nth-child(5)").text().toLowerCase();

                var hasInvoice = invoiceName.includes(invoiceValue);
                var hasShopPostInfoName = shopPostInfoName.includes(shopPostInfoNameValue);
                var hasFopName = fopName.includes(fopNameValue);
                var hasFopAccount = fopAccount.includes(fopAccountValue);

                var creationDateString = $(this).find("td:nth-child(2)").text();
                var creationDate = new Date(creationDateString.replace(/(\d{2}).(\d{2}).(\d{4})/, "$2/$1/$3"));

                var hasStartDate = !startDate || (creationDate >= startDate && creationDate <= new Date(startDateValue + " 23:59:59"));
                var hasEndDate = !endDate || (creationDate <= endDate && creationDate >= new Date(endDateValue + " 00:00:00"));

                $(this).toggle(
                    hasInvoice && hasShopPostInfoName && hasFopName && hasFopAccount && hasStartDate && hasEndDate
                );
            });

            $(".productRow").each(function () {
                var parentInvoiceName = $(this).closest(".productTableContainer").data("invoice-name");
                var showProduct =
                    parentInvoiceName.includes(invoiceValue) &&
                    parentInvoiceName.includes(shopPostInfoNameValue) &&
                    parentInvoiceName.includes(fopNameValue) &&
                    parentInvoiceName.includes(fopAccountValue);

                var productCreationDateString = $(this).closest(".invoiceRow").find("td:nth-child(2)").text();
                var productCreationDate = new Date(productCreationDateString.replace(/(\d{2}).(\d{2}).(\d{4})/, "$2/$1/$3"));

                var hasStartDate = !startDate || (productCreationDate >= startDate && productCreationDate <= new Date(startDateValue + " 23:59:59"));
                var hasEndDate = !endDate || (productCreationDate <= endDate && productCreationDate >= new Date(endDateValue + " 00:00:00"));

                $(this).toggle(showProduct && hasStartDate && hasEndDate);
            });
        }

        // Function to show/hide the product table
        $(".showProductsButton").click(function () {
            $(this).closest("tr").next(".productTableContainer").toggle();
        });

        // Apply filters on keyup for all filter input fields
        $("#invoiceFilter, #shoppostinfonameFilter, #fopnameFilter, #fopaccountFilter").on("keyup", function () {
            applyFilters();
        });
        $("#startDate, #endDate").on("change", function () {
            applyFilters();
        });
        applyFilters();

    });
</script>